
<header id="main-header">

  <a id="logo-header" href="#">
    <span class="site-name">FranciscoAMK</span>
    <span class="site-desc">Diseño web / WordPress / Tutoriales</span>
  </a> <!-- / #logo-header -->

  <nav>
    <ul>
      <li><a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="2000"  [pageScrollInterruptible]="false" href="#awesomePart3">Probando</a></li>
      <li><a pageScroll [pageScrollOffset]="100" [pageScrollDuration]="2000"  [pageScrollInterruptible]="false" href="#awesomePart">Probando 1</a></li>
      <li><a pageScroll  [pageScrollOffset]="100" [pageScrollDuration]="2000"  [pageScrollInterruptible]="false"  href="#awesomePart1">probando 2</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </nav><!-- / nav -->

</header>
<div id="main-content">
<div id="primera" #primera>
<h3>primera</h3>
<article>Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
  consequuntur omnis quis sapiente!
 Suscipit magni sunt incidunt laboriosam?
 Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
  consequuntur omnis quis sapiente!
 Suscipit magni sunt incidunt laboriosam?
 Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
  consequuntur omnis quis sapiente!
 Suscipit magni sunt incidunt laboriosam?
 Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
  consequuntur omnis quis sapiente!
 Suscipit magni sunt incidunt laboriosam?
 Lorem ipsum dolor sit amet consectetur,
  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
  consequuntur omnis quis sapiente!
 Suscipit magni sunt incidunt laboriosam?</article>
</div>
  <div  id="awesomePart3" #awesomePart3>
    <h3>Probando</h3>
     <article>Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
       ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
     Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
      consequuntur omnis quis sapiente!
     Suscipit magni sunt incidunt laboriosam?
     Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
       ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
     Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
      consequuntur omnis quis sapiente!
     Suscipit magni sunt incidunt laboriosam?
     Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
       ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
     Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
      consequuntur omnis quis sapiente!
     Suscipit magni sunt incidunt laboriosam?
     Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
       ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
     Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
      consequuntur omnis quis sapiente!
     Suscipit magni sunt incidunt laboriosam?
     Lorem ipsum dolor sit amet consectetur,
      adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
       ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
     Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
     Lorem ipsum dolor sit amet consectetur, adipisicing elit.
     Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
      consequuntur omnis quis sapiente!
     Suscipit magni sunt incidunt laboriosam?</article>
    </div>
    <div id="tercero">
      <h3>tercero en tema</h3>
       <article>Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
         ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
       Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
       Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
        consequuntur omnis quis sapiente!
       Suscipit magni sunt incidunt laboriosam?
       Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
         ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
       Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
       Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
        consequuntur omnis quis sapiente!
       Suscipit magni sunt incidunt laboriosam?
       Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
         ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
       Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
       Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
        consequuntur omnis quis sapiente!
       Suscipit magni sunt incidunt laboriosam?
       Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
         ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
       Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
       Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
        consequuntur omnis quis sapiente!
       Suscipit magni sunt incidunt laboriosam?
       Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
         ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
       Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
       Lorem ipsum dolor sit amet consectetur, adipisicing elit.
       Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
        consequuntur omnis quis sapiente!
       Suscipit magni sunt incidunt laboriosam?</article>
      </div>

      <div id="primera">
        <h3>primera parte</h3>
        <article>Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?</article>
        <article>
          Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?
         Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
           ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
         Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
         Lorem ipsum dolor sit amet consectetur, adipisicing elit.
         Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
          consequuntur omnis quis sapiente!
         Suscipit magni sunt incidunt laboriosam?</article>
            </div>
            <div id="tercero">
              <h3>tercero</h3>
               <article>Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
        </article>
        </div>
          <div  id="awesomePart1" #awesomePart1>
            <h3>Probando 2</h3>
             <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Provident nihil, excepturi praesentium rem itaque asperiores blanditiis quae dolores cumque veritatis
               voluptas tenetur nulla deleniti facilis in numquam adipisci modi fugiat?
               Lorem ipsum dolor sit amet consectetur,
               adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
              Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
               consequuntur omnis quis sapiente!
              Suscipit magni sunt incidunt laboriosam?
              Lorem ipsum dolor sit amet consectetur,
               adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
              Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
               consequuntur omnis quis sapiente!
              Suscipit magni sunt incidunt laboriosam?
              Lorem ipsum dolor sit amet consectetur,
               adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
              Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
               consequuntur omnis quis sapiente!
              Suscipit magni sunt incidunt laboriosam?
              Lorem ipsum dolor sit amet consectetur,
               adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
              Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
               consequuntur omnis quis sapiente!
              Suscipit magni sunt incidunt laboriosam?
              Lorem ipsum dolor sit amet consectetur,
               adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
              Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
               consequuntur omnis quis sapiente!
              Suscipit magni sunt incidunt laboriosam?</article>
            </div>
            <div id="tercero">
              <h3>tercera parte</h3>
               <article>Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
                 Lorem ipsum dolor sit amet consectetur,
                  adipisicing elit. Illum quos assumenda a voluptatum voluptatem,
                   ipsam possimus explicabo, necessitatibus expedita aperiam voluptates.
                 Quasi a facilis, tempore iure accusamus quibusdam unde aperiam.
                 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                 Eius voluptas esse quo. Porro, delectus! Quas voluptatem est hic mollitia officiis totam,
                  consequuntur omnis quis sapiente!
                 Suscipit magni sunt incidunt laboriosam?
               </article>
              </div>
              <div id="primera">
                <h3>primera-2</h3>
                <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Provident nihil, excepturi praesentium rem itaque asperiores blanditiis quae dolores cumque veritatis
                 voluptas tenetur nulla deleniti facilis in numquam adipisci modi fugiat?
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro necessitatibus, non expedita maiores vel magnam doloribus exercitationem,
                neque sed repudiandae cupiditate in modi quidem saepe placeat officiis, omnis laboriosam id!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Provident nihil, excepturi praesentium rem itaque asperiores blanditiis quae dolores cumque veritatis
               voluptas tenetur nulla deleniti facilis in numquam adipisci modi fugiat?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro necessitatibus, non expedita maiores vel magnam doloribus exercitationem,
              neque sed repudiandae cupiditate in modi quidem saepe placeat officiis, omnis laboriosam id!
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Provident nihil, excepturi praesentium rem itaque asperiores blanditiis quae dolores cumque veritatis
             voluptas tenetur nulla deleniti facilis in numquam adipisci modi fugiat?
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro necessitatibus, non expedita maiores vel magnam doloribus exercitationem,
            neque sed repudiandae cupiditate in modi quidem saepe placeat officiis, omnis laboriosam id!</article>
                </div>
                  <div id="awesomePart" #awesomePart>
                    <h3>probando 1</h3>
                     <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Provident nihil, excepturi praesentium rem itaque asperiores blanditiis quae dolores cumque veritatis
                       voluptas tenetur nulla deleniti facilis in numquam adipisci modi fugiat?</article>
                    </div>
                    <div id="tercero">
                      <h3>tercero-2</h3>
                       <article>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          Provident nihil, excepturi praesentium rem itaque asperiores blanditiis quae dolores cumque veritatis
                         voluptas tenetur nulla deleniti facilis in numquam adipisci modi fugiat?</article>
                      </div>
                    </div>
